body {
    background-image: linear-gradient(to right, rgb(240, 109, 242), rgb(50, 101, 232));
}

.contentWrapper {
}

.buttonWrap {
}

.inputWrap {
}

.controleBericht {
    font-size: 1.2rem;
    font-style: italic;
    color: white;
}
